<div id="atted-container">
<h3>Search for {{opts.AGIcode}} returned {{genes.length}} results:</h3>
<div id="atted-table-wrapper">
<table id="atted-table" class="table table-striped"></table>
</div>
</div>
