<input style="width: 890px" type=range min={{settings.min}} max={{settings.max}} value=1 step="0.1" id=fader>

<div id="atted-container">
<h3>Search for {{opts.AGIcode}} returned {{genes.length}} results:</h3>
<div id="atted-table-wrapper">
<table id="atted-table"></table>
</div>
</div>
