


<!-- /container full -->
{{!-- <div id="atted-container" class="container"> --}}
<div id="viz"></div>
<div class="atted-table-wrapper">
	<table class="atted-table"></table>
</div>
<div class="toolbar"></div>
<div class="stats"></div>

{{!-- </div> --}}