


<!-- /container full -->
{{!-- <div id="atted-container" class="container"> --}}

<div class="collection-table" style="margin-bottom: 0px">
	<table class="source-table">
	<thead>
	<tr>
		<th>
			<span class="statsmessage">Querying ATTED Service...</span>
			<br /><span class="attedsource">Data Source: <a href="http://atted.jp/">ATTED-II</a></span>
		</th>
	</tr>
	</thead>
	</table>
</div>
<div class="atted-table-wrapper collection-table" style="margin-bottom: 5px;">
	<div id="loadingmessage" class="atted-loading-message">
		<span class="searching_spinner_center" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
	</div>
	<table class="atted-table"></table>


</div>




<div class="toolbar"></div>


{{!-- <div class="viz"></div> --}}



{{!-- </div> --}}