


<!-- /container full -->
{{!-- <div id="atted-container" class="container"> --}}


<div class="atted-table-wrapper collection-table">
	<div id="loadingmessage" class="atted-loading-message">
		<span class="searching_spinner_center" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
	</div>
	<table class="atted-table"></table>
</div>

<div class="stats"></div>

<div class="toolbar"></div>
<div class="viz"></div>



{{!-- </div> --}}