


<!-- /container full -->
<div id="atted-container" class="container">
<div id="viz"></div>
<div id="toolbar" class="panel-body"></div>
<div id="atted-table-wrapper">
	<table id="atted-table" class="table table-striped"></table>
</div>

</div>