


<!-- /container full -->
{{!-- <div id="atted-container" class="container"> --}}


<div class="atted-table-wrapper">
	<table class="atted-table"></table>
</div>

<div class="stats"></div>

<div class="toolbar"></div>
<div class="viz"></div>



{{!-- </div> --}}