<thead>
	<th>AGI Code</th>
	<th>Symbol</th>
	<th>Score</th>
</thead>
<tbody>
	{{#each genes}}
	<tr>
		<td><a href="report.do?id={{id}}">{{summary.primaryIdentifier}}</a></td>
		<td>{{summary.symbol}}
		<td>{{score}}</td>
	</tr>
	{{/each}}
</tbody>
