




  	<label class="radio-inline">
		<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="mr"> MR
	</label>

	<label class="radio-inline">
		<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="cor"> COR
	</label>



    <input type="text" class="form-control" placeholder="Cutoff">
    <p>{{mediator}}

  <button id="clickable">test</button>
   <button id="clickable2">test</button>


