#atted-container {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

#atted-container > #atted-table {
	font-family: sans-serif;
	width: 100%;
}

#atted-container > #atted-table th {
	background-color: black;
	color: white;
	padding: 4px;
}

#atted-container > #atted-table td {
	background-color: #EBEBEB;
	padding: 4px;
}